# Training based on Review parameters

## Data Cleaning and Normalising

In [66]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt

dataset = pd.read_csv('train.csv')

dataset.describe()

,index,beer/ABV,beer/beerId,beer/brewerId,review/appearance,review/aroma,review/overall,review/palate,review/taste,review/timeUnix,user/ageInSeconds,user/birthdayUnix
count,37500.000000,37500.000000,37500.000000,37500.000000,37500.000000,37500.000000,37500.00000,37500.000000,37500.000000,3.750000e+04,7.856000e+03,7.856000e+03
mean,24951.887573,7.403725,21861.152027,3036.595120,3.900053,3.873240,3.88944,3.854867,3.922440,1.232794e+09,1.176705e+09,2.416303e+08
std,14434.009669,2.318145,18923.130832,5123.084675,0.588778,0.680865,0.70045,0.668068,0.716504,7.190955e+07,3.375514e+08,3.375514e+08
min,0.000000,0.100000,175.000000,1.000000,0.000000,1.000000,0.00000,1.000000,1.000000,9.262944e+08,7.034366e+08,-2.208960e+09
25%,12422.500000,5.400000,5441.000000,395.000000,3.500000,3.500000,3.50000,3.500000,3.500000,1.189194e+09,9.794810e+08,1.433628e+08
50%,24942.500000,6.900000,17538.000000,1199.000000,4.000000,4.000000,4.00000,4.000000,4.000000,1.248150e+09,1.100009e+09,3.183264e+08
75%,37416.750000,9.400000,34146.000000,1315.000000,4.500000,4.500000,4.50000,4.500000,4.500000,1.291330e+09,1.274973e+09,4.388544e+08
max,49999.000000,57.700000,77207.000000,27797.000000,5.000000,5.000000,5.00000,5.000000,5.000000,1.326267e+09,3.627295e+09,7.148988e+08

In [67]:
dataset.head(5)

,index,beer/ABV,beer/beerId,beer/brewerId,beer/name,beer/style,review/appearance,review/aroma,review/overall,review/palate,review/taste,review/text,review/timeStruct,review/timeUnix,user/ageInSeconds,user/birthdayRaw,user/birthdayUnix,user/gender,user/profileName
0,40163,5.0,46634,14338,Chiostro,Herbed / Spiced Beer,4.0,4.0,4.0,4.0,4.0,Pours a clouded gold with a thin white head. N...,"{'min': 38, 'hour': 3, 'mday': 16, 'sec': 10, ...",1229398690,NaN,NaN,NaN,NaN,RblWthACoz
1,8135,11.0,3003,395,Bearded Pat's Barleywine,American Barleywine,4.0,3.5,3.5,3.5,3.0,12oz bottle into 8oz snifter.\t\tDeep ruby red...,"{'min': 38, 'hour': 23, 'mday': 8, 'sec': 58, ...",1218238738,NaN,NaN,NaN,NaN,BeerSox
2,10529,4.7,961,365,Naughty Nellie's Ale,American Pale Ale (APA),3.5,4.0,3.5,3.5,3.5,First enjoyed at the brewpub about 2 years ago...,"{'min': 7, 'hour': 18, 'mday': 26, 'sec': 2, '...",1101492422,NaN,NaN,NaN,Male,mschofield
3,44610,4.4,429,1,Pilsner Urquell,Czech Pilsener,3.0,3.0,2.5,3.0,3.0,First thing I noticed after pouring from green...,"{'min': 7, 'hour': 1, 'mday': 20, 'sec': 5, 'y...",1308532025,1.209827e+09,"Aug 10, 1976",208508400.0,Male,molegar76
4,37062,4.4,4904,1417,Black Sheep Ale (Special),English Pale Ale,4.0,3.0,3.0,3.5,2.5,A: pours an amber with a one finger head but o...,"{'min': 51, 'hour': 6, 'mday': 12, 'sec': 48, ...",1299912708,NaN,NaN,NaN,NaN,Brewbro000

In [68]:
#Scaling ABV value
dataset['standardized_abv'] = (dataset['beer/ABV']-dataset['beer/ABV'].mean())/dataset['beer/ABV'].std()

In [69]:
dataset.head(5)

,index,beer/ABV,beer/beerId,beer/brewerId,beer/name,beer/style,review/appearance,review/aroma,review/overall,review/palate,review/taste,review/text,review/timeStruct,review/timeUnix,user/ageInSeconds,user/birthdayRaw,user/birthdayUnix,user/gender,user/profileName,standardized_abv
0,40163,5.0,46634,14338,Chiostro,Herbed / Spiced Beer,4.0,4.0,4.0,4.0,4.0,Pours a clouded gold with a thin white head. N...,"{'min': 38, 'hour': 3, 'mday': 16, 'sec': 10, ...",1229398690,NaN,NaN,NaN,NaN,RblWthACoz,-1.036917
1,8135,11.0,3003,395,Bearded Pat's Barleywine,American Barleywine,4.0,3.5,3.5,3.5,3.0,12oz bottle into 8oz snifter.\t\tDeep ruby red...,"{'min': 38, 'hour': 23, 'mday': 8, 'sec': 58, ...",1218238738,NaN,NaN,NaN,NaN,BeerSox,1.551359
2,10529,4.7,961,365,Naughty Nellie's Ale,American Pale Ale (APA),3.5,4.0,3.5,3.5,3.5,First enjoyed at the brewpub about 2 years ago...,"{'min': 7, 'hour': 18, 'mday': 26, 'sec': 2, '...",1101492422,NaN,NaN,NaN,Male,mschofield,-1.166331
3,44610,4.4,429,1,Pilsner Urquell,Czech Pilsener,3.0,3.0,2.5,3.0,3.0,First thing I noticed after pouring from green...,"{'min': 7, 'hour': 1, 'mday': 20, 'sec': 5, 'y...",1308532025,1.209827e+09,"Aug 10, 1976",208508400.0,Male,molegar76,-1.295745
4,37062,4.4,4904,1417,Black Sheep Ale (Special),English Pale Ale,4.0,3.0,3.0,3.5,2.5,A: pours an amber with a one finger head but o...,"{'min': 51, 'hour': 6, 'mday': 12, 'sec': 48, ...",1299912708,NaN,NaN,NaN,NaN,Brewbro000,-1.295745

# Feature selection

In [70]:
dataset.drop(['index','beer/ABV','standardized_abv','beer/brewerId','beer/name','beer/style','review/text','beer/beerId', 'user/ageInSeconds', 'user/birthdayRaw', 'user/birthdayUnix', 'user/gender', 'user/profileName', 'review/timeStruct', 'review/timeUnix'], axis=1, inplace=True)

In [71]:
dataset.head(5)

,review/appearance,review/aroma,review/overall,review/palate,review/taste
0,4.0,4.0,4.0,4.0,4.0
1,4.0,3.5,3.5,3.5,3.0
2,3.5,4.0,3.5,3.5,3.5
3,3.0,3.0,2.5,3.0,3.0
4,4.0,3.0,3.0,3.5,2.5

In [72]:
dataset.dropna( inplace=True)

In [73]:
dataset.head(25)

,review/appearance,review/aroma,review/overall,review/palate,review/taste
0,4.0,4.0,4.0,4.0,4.0
1,4.0,3.5,3.5,3.5,3.0
2,3.5,4.0,3.5,3.5,3.5
3,3.0,3.0,2.5,3.0,3.0
4,4.0,3.0,3.0,3.5,2.5
5,4.0,4.0,4.0,4.0,4.5
6,4.0,4.5,4.0,4.0,4.0
7,4.0,4.0,4.0,4.0,4.0
8,4.5,4.0,4.5,4.5,4.5
9,2.0,2.0,2.0,2.5,2.0
10,4.5,4.5,4.5,4.5,4.5
11,4.5,4.0,4.0,4.0,4.0
12,4.5,4.5,5.0,4.5,5.0
13,3.0,2.0,2.0,2.5,2.0
14,4.5,3.0,4.0,4.0,4.0
15,3.0,3.0,4.0,4.0,4.5
16,4.0,3.5,3.0,3.0,3.5
17,4.0,3.5,4.0,4.0,3.5
18,4.0,4.0,4.0,4.0,4.0
19,3.5,3.5,4.0,4.0,3.5
20,4.5,4.5,4.0,4.0,4.5
21,4.0,4.5,4.0,4.0,4.5
22,3.0,4.0,5.0,4.5,4.5
23,4.0,4.0,4.0,4.5,4.0
24,4.0,4.0,4.0,4.0,4.0

# Training based on Review parameters

### StandardScaler - Feature Engineering

In [74]:
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split #cross

from sklearn.pipeline import make_pipeline

In [75]:
y=dataset['review/overall'].values
X=dataset.drop('review/overall',axis=1).values
print(X)

[[4.  4.  4.  4. ]
 [4.  3.5 3.5 3. ]
 [3.5 4.  3.5 3.5]
 ...
 [4.  3.5 4.5 4. ]
 [4.  4.  5.  5. ]
 [4.  4.  4.5 4. ]]

# LINEAR REGRESSION

In [76]:
from sklearn.model_selection import train_test_split 
from sklearn.linear_model import LinearRegression
from sklearn import metrics
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [77]:
regressor = LinearRegression()  
regressor.fit(X_train, y_train) #training the algorithm

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [78]:
y_pred = regressor.predict(X_test)

In [79]:
df = pd.DataFrame({'Actual overall rating': y_test.flatten(), 'Predicted Overall Rating': y_pred.flatten()})
print(df.head(5))

   Actual overall rating  Predicted Overall Rating
0                    4.0                  3.883538
1                    4.0                  3.559051
2                    3.5                  3.884936
3                    4.5                  4.723895
4                    4.0                  3.923436

In [80]:
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))  
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))  

print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

Mean Absolute Error: 0.314597885185275
Mean Squared Error: 0.17397492373574366
Root Mean Squared Error: 0.4171030133381245

## Lasso Regularization

In [81]:
from sklearn.linear_model import Lasso

    
for alpha in [1.0, 0.1, 0.01, 0.001]:
    lasso = make_pipeline(StandardScaler(), Lasso(alpha=alpha, fit_intercept=True))
    #lassoreg = Lasso(alpha=alpha,normalize=True, max_iter=1e5)
    lasso.fit(X_train,y_train)
    y_pred = lasso.predict(X_test)

In [82]:
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))  
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))  

print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

Mean Absolute Error: 0.3146653874923275
Mean Squared Error: 0.1739727131560194
Root Mean Squared Error: 0.4171003634091193

## Ridge Regularization

In [83]:
from sklearn.linear_model import Ridge
# Ridge Regression Pipeline
for alpha in [1.0, 0.1, 0.01, 0.001]:
    ridge = make_pipeline(StandardScaler(), Ridge(alpha=alpha, fit_intercept=True))
    ridge.fit(X_train, y_train)
    y_pred = ridge.predict(X_test)

In [84]:
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))  
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))  

print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

Mean Absolute Error: 0.31459788576135156
Mean Squared Error: 0.1739749235500573
Root Mean Squared Error: 0.417103013115534